---
import "../styles/global.css";
import axios from "axios";
import Card from "../components/Card.astro";
interface Item {
    image: string,
    name: string,
    price: string
}
const data = (await axios.get('https://fakestoreapi.com/products/category/electronics')).data as Item[]
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Product Showcase</title>
</head>
<body>
<header>
    <nav class:list={"container mx-auto w-full font-bold pt-10 pb-5 text-5xl uppercase text-center"}>
        <h1 class:list={[
            ["bg-white inline-block transition-all ease-in duration-200 cursor-pointer px-5 py-1 rounded-md"],
            ["hover:bg-black/10"]
        ]}>
            Products Showcase</h1>
    </nav>
    <main>
        <section class:list={[
            ["container mx-auto w-full"],
            ["grid grid-cols-4 gap-5"],
        ]}>
            {data.map(item =>
                    <Card item={item}/>)}
        </section>
    </main>
</header>
</body>
</html>
